

/******************************************\
                $CSS Reset
\******************************************/

/* basic elements */
body, html, section, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, th, td
{
margin: 0; padding: 0; border: 0; outline: none;
}

body
{
line-height: 1;
}

h1, h2, h3, h4, h5, h6
{
padding: .6em 0;
margin: 0 0;
}

ul, ol
{
list-style: none;
}

a
{
color: green;
text-decoration: none;
}

a:hover
{
text-decoration: none;
color: #EBB000;
}

/******************************************\
                $MAIN
\******************************************/

body {
    background-color: #1e1e1d;
}

#outer {
    margin: 0 auto; /* centers it. */
    margin-top: 75px;
    height: 600px;
    width: 400px;
    border: #d6bc28 3px solid; /* gold color */
    border-radius: 200px;
}

#calcHeader {
    margin-top: 20px;
    text-align: center;
    color: #f7d309;
    font-weight: normal;
    font-size: 200%;
    padding-bottom: 30px;
}

#display {
    height: 75px;
    width: 300px;
    border-radius: 50px;
    /*border: white 1px solid;*/
    margin: 0 auto; /* centers it. */
    background-color: #f7d309;
}

.input {
    height: 50px;
    width: 300px;
    /*border: gold 1px dashed;*/
    text-align: right;
    color: black;
}

#topP {
    font-size: 300%;
    border-radius: 50px 50px 0 0;
}

#bottomP {
    font-size: 115%;
    border-radius: 0 0 50px 50px;
    height: 25px;
}

.numSpan {
    padding-right: 20px;
}

#bottomSpan {
    padding-top: 10px;
}

.circle {
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
    height: 75px;
    width: 75px;
    color: #f7d309;
    border-radius: 50px;
    background: none;
    border: solid 2.5px #f7d309;
    font-size: 200%;
}
